<a href="https://colab.research.google.com/github/eorellan693/DAEN500_F2020/blob/master/VerticalSeparation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Data pre-processing will happen here. 
Doing an update. 
---
Will this be saved?

In [ ]:
#Installing the required libraries
!pip install geopy
!pip install pandasql

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: geopy in /usr/local/lib/python3.7/dist-packages (1.17.0)
Requirement already satisfied: geographiclib<2,>=1.49 in /usr/local/lib/python3.7/dist-packages (from geopy) (1.52)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pandasql
  Downloading pandasql-0.7.3.tar.gz (26 kB)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.21.6)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.3.5)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.4.37)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pandasql) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pandasql) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->pandasql) (1.15.0)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from sqlalchemy->pandasql) (4.11.4)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from sqlalchemy->pandasql) (1.1.2)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy->pandasql) (4.1.1)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy->pandasql) (3.8.0)
Building wheels for collected packages: pandasql
  Building wheel for pandasql (setup.py) ... done
  Created wheel for pandasql: filename=pandasql-0.7.3-py3-none-any.whl size=26784 sha256=797e21ea1594e497a30d6636cb81c021a401df648985622ab28a870dca641136
  Stored in directory: /root/.cache/pip/wheels/5c/4b/ec/41f4e116c8053c3654e2c2a47c62b4fca34cc67ef7b55deb7f
Successfully built pandasql
Installing collected packages: pandasql
Successfully installed pandasql-0.7.3

In [ ]:
#Importing the required libraries
import pandas as pd
import pandasql as ps
# from pyspark.sql import SparkSession
import os
import sys
import re
from datetime import datetime
from geopy.distance import geodesic as GD
from math import radians, cos, sin, asin, sqrt

In [ ]:
#Upload the data file after pre-processing (only the selected attribues and only above level 240)
from google.colab import files
uploadedfile = files.upload()

Saving airspaceData.csv to airspaceData.csv

In [ ]:
import io
airspaceDF = pd.read_csv(io.BytesIO(uploadedfile['airspaceData.csv']))

In [ ]:
print(airspaceDF)

                        DateTime  Hour  Minute  Second  microSecond  \
0        2021-12-24 23:59:59.992    23      59      59       992000
1        2021-12-24 20:54:11.141    20      54      11       141000
2        2021-12-24 12:36:02.773    12      36       2       773000
3        2021-12-24 04:13:17.836     4      13      17       836000
4        2021-12-24 23:59:59.984    23      59      59       984000
...                          ...   ...     ...     ...          ...
3303983  2021-12-24 12:36:02.859    12      36       2       859000
3303984  2021-12-24 12:36:02.852    12      36       2       852000
3303985  2021-12-24 12:36:02.805    12      36       2       805000
3303986  2021-12-24 12:36:02.805    12      36       2       805000
3303987  2021-12-24 12:36:02.789    12      36       2       789000

          Latitude   Longitude   Height TargetID  SelectedHeading  \
0        21.325208 -158.058116   2200.0   UAL253        78.750000
1        21.321762 -157.908142     75.0   N357MH              NaN
2        37.307144 -139.574170  35675.0   ASA899              NaN
3        21.496660 -146.918742  37300.0    HAL50              NaN
4        25.936523 -149.628348  38775.0  SWA2385        45.703125
...            ...         ...      ...      ...              ...
3303983   8.368696 -135.701894  39050.0   AFR076       203.203125
3303984  29.190674 -135.155922  36050.0   AAL144         0.000000
3303985  33.299423 -127.851361  36550.0  UAL1292        59.765625
3303986  31.330582 -122.568270  34625.0   AAL697         0.000000
3303987  38.710464 -156.728748  37175.0   ASA873              NaN

        TargetAddress  TrackNumber
0              AA92F9       1277.0
1              A3FFE9        640.0
2              A7B779       1024.0
3              A48E9E       1024.0
4              ABF949       1024.0
...               ...          ...
3303983        3949F8       1024.0
3303984        A4F59C       1024.0
3303985        AA56DA       1024.0
3303986        A4F1E5       1300.0
3303987        A7A4E6       1024.0

[3303988 rows x 12 columns]

In [ ]:
#Some column names may be imported with leading spaces. This will remove that
airspaceDF.columns = [x.strip() for x in airspaceDF.columns]

print(airspaceDF.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3303988 entries, 0 to 3303987
Data columns (total 12 columns):
 #   Column           Dtype
---  ------           -----
 0   DateTime         object
 1   Hour             int64
 2   Minute           int64
 3   Second           int64
 4   microSecond      int64
 5   Latitude         float64
 6   Longitude        float64
 7   Height           float64
 8   TargetID         object
 9   SelectedHeading  float64
 10  TargetAddress    object
 11  TrackNumber      float64
dtypes: float64(5), int64(4), object(3)
memory usage: 302.5+ MB
None

In [ ]:
#create SQL query for flights between the start and end time
sql1 = "SELECT * FROM airspaceDF WHERE Hour = 23 and Minute = 59 ORDER BY TargetID, Second"

#Run query and store results
records2359 = ps.sqldf(sql1, locals())

In [ ]:
#Export the file with just the 23:59 data to make it easier to pick up where we left off
from google.colab import files

records2359.to_csv('records2359_1224.csv', encoding = 'utf-8-sig') 
files.download('records2359_1224.csv')

**START HERE WITH records2359_1224.csv FILE**

In [ ]:
#Upload the file with the 23:59 data and save it as a dataframe named records2359

#Upload the records2359_1224.csv data file
from google.colab import files
uploadedfile = files.upload()

import io
records2359 = pd.read_csv(io.BytesIO(uploadedfile['records2359_1224.csv']))

Saving records2359_1224.csv to records2359_1224.csv

In [ ]:
#Remove flights without a flight name or altitude
records2359 = records2359.dropna(subset=['TargetID'])
records2359 = records2359.dropna(subset=['Height'])

records2359.head(5)

,Unnamed: 0,DateTime,Hour,Minute,Second,microSecond,Latitude,Longitude,Height,TargetID,SelectedHeading,TargetAddress,TrackNumber
16,16,2021-12-24 23:59:01.875,23,59,1,875000,21.085836,-157.526245,15400.0,AAH24,107.578125,A32F17,1234.0
17,17,2021-12-24 23:59:06.750,23,59,6,750000,21.081926,-157.517598,15400.0,AAH24,107.578125,A32F17,1234.0
18,18,2021-12-24 23:59:10.875,23,59,10,875000,21.078644,-157.510337,15400.0,AAH24,107.578125,A32F17,1234.0
19,19,2021-12-24 23:59:15.102,23,59,15,102000,21.075211,-157.502747,15425.0,AAH24,107.578125,A32F17,1234.0
20,20,2021-12-24 23:59:19.695,23,59,19,695000,21.071594,-157.494807,15400.0,AAH24,107.578125,A32F17,1234.0

In [ ]:
#Get the first entry for this minute of time
sql2 = "SELECT *, min(Second) FROM records2359 GROUP BY TargetID"

#Run query and store results
firstEntryDF = ps.sqldf(sql2, locals())
del firstEntryDF['min(Second)']

firstEntryDF.head(5)

,Unnamed: 0,DateTime,Hour,Minute,Second,microSecond,Latitude,Longitude,Height,TargetID,SelectedHeading,TargetAddress,TrackNumber
0,16,2021-12-24 23:59:01.875,23,59,1,875000,21.085836,-157.526245,15400.0,AAH24,107.578125,A32F17,1234.0
1,30,2021-12-24 23:59:01.508,23,59,1,508000,19.976543,-155.128401,2625.0,AAH504,130.078125,A323F2,1272.0
2,43,2021-12-24 23:59:03.109,23,59,3,109000,25.290344,-147.790578,38775.0,AAL119,232.031250,AB6AFA,1024.0
3,56,2021-12-24 23:59:02.273,23,59,2,273000,42.300705,-132.887941,38200.0,AAL128,99.843750,AB7613,1024.0
4,69,2021-12-24 23:59:01.438,23,59,1,438000,33.262985,-123.632941,30500.0,AAL143,0.000000,A4FBAC,1024.0

In [ ]:
#Create tables to store proximity
sql3 = "SELECT * FROM firstEntryDF ORDER BY Latitude"
sql4 = "SELECT * FROM firstEntryDF ORDER BY Longitude"

#Run query and store results
LatitudeOrderDF = ps.sqldf(sql3, locals())
LongitudeOrderDF = ps.sqldf(sql4, locals())

In [ ]:
LatitudeOrderDF.head()

,Unnamed: 0,DateTime,Hour,Minute,Second,microSecond,Latitude,Longitude,Height,TargetID,SelectedHeading,TargetAddress,TrackNumber
0,1100,2021-12-24 23:59:04.047,23,59,4,47000,0.190538,-175.769980,37350.0,FDX77,210.937500,ABE1EB,1024.0
1,1800,2021-12-24 23:59:00.625,23,59,0,625000,6.845460,-163.240356,36000.0,MGE600,NaN,AC3C99,1484.0
2,659,2021-12-24 23:59:03.977,23,59,3,977000,11.171885,178.954757,37225.0,ATN440,51.328125,AA21BF,1024.0
3,1366,2021-12-24 23:59:01.453,23,59,1,453000,11.610489,-166.661035,42300.0,HAL451,NaN,A45233,1024.0
4,2578,2021-12-24 23:59:04.836,23,59,4,836000,12.478409,142.616035,40650.0,SIA8890,258.750000,76B44A,1997.0

In [ ]:
LongitudeOrderDF.head()

,Unnamed: 0,DateTime,Hour,Minute,Second,microSecond,Latitude,Longitude,Height,TargetID,SelectedHeading,TargetAddress,TrackNumber
0,1787,2021-12-24 23:59:03.648,23,59,3,648000,17.969330,-176.990517,38025.0,MGE300,NaN,A9228A,1088.0
1,1100,2021-12-24 23:59:04.047,23,59,4,47000,0.190538,-175.769980,37350.0,FDX77,210.937500,ABE1EB,1024.0
2,3382,2021-12-24 23:59:02.883,23,59,2,883000,33.536041,-175.560315,40950.0,UAL903,288.281250,AA9321,1488.0
3,3368,2021-12-24 23:59:00.430,23,59,0,430000,49.627487,-174.973249,34575.0,UAL893,265.078125,A31A73,1024.0
4,257,2021-12-24 23:59:00.109,23,59,0,109000,47.560684,-172.337723,40800.0,AAL9726,277.031250,AB5257,1024.0

In [ ]:
# Implement the formula below
def distance_d(point0,pointX):
# The function "radians" is found in the math module, It's also used to convert radians to degrees.  
 LoA = radians(point0[1])  
 LoB = radians(pointX[1])
 LaA=  radians(point0[0])  
 LaB = radians(pointX[0]) 
# The "Haversine formula" is used.
 D_Lo = LoB - LoA 
 D_La = LaB - LaA 
 P = sin(D_La / 2)**2 + cos(LaA) * cos(LaB) * sin(D_Lo / 2)**2  
   
 Q = 2 * asin(sqrt(P))   
 # The earth's radius in kilometers.
 R_km = 6371  
 
 # Change the kilometer to  nautical miles
 R_nm = R_km*0.539956803

# Then we'll compute the outcome.
 return(Q * R_nm)

In [ ]:
#Calculate the distance of the points closest to each other by longitidue and latitude



longpoint_a = []
longpoint_b = []
longdistance_ab = []

latpoint_a = []
latpoint_b = []
latdistance_ab = []

for a in LongitudeOrderDF.index:   
    for n in range(1,len(LongitudeOrderDF)): 
    # check distance with next flights until found distance >25, then out of the inner loop
        b = a+n
        if b < len(LongitudeOrderDF):
            point0 = LongitudeOrderDF.loc[a,'Latitude'], LongitudeOrderDF.loc[a,'Longitude']
            pointX = LongitudeOrderDF.loc[b,'Latitude'], LongitudeOrderDF.loc[b,'Longitude']    
            distance = distance_d(point0,pointX) #***change distance calculation***
            if distance <= 25: #***change limit closet distance***
                longpoint_a.append(a)
                longpoint_b.append(b)
                longdistance_ab.append(distance)
            else:
                break
print("Points closest to each other by longitiude","\n",longpoint_a,"\n",longpoint_b,"\n", longdistance_ab,"\n")

for a in LatitudeOrderDF.index:   
    for n in range(1,len(LatitudeOrderDF)): 
    # check distance with next flights until found distance > 5, then out of the inner loop
        b = a+n
        if b < len(LatitudeOrderDF):
            point0 = LatitudeOrderDF.loc[a,'Latitude'], LatitudeOrderDF.loc[a,'Longitude']
            pointX = LatitudeOrderDF.loc[b,'Latitude'], LatitudeOrderDF.loc[b,'Longitude']    
            distance = distance_d(point0,pointX)  #***change distance calculation***
            if distance <= 25: #***change limit closet distance***
                latpoint_a.append(a)
                latpoint_b.append(b)
                latdistance_ab.append(distance)
            else:
                break
print("Points closest to each other by latitiude","\n",latpoint_a,"\n", latpoint_b,"\n", latdistance_ab)

Points closest to each other by longitiude
 [6, 14, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 24, 24, 24, 24, 24, 24, 24, 24, 24, 25, 25, 25, 25, 25, 25, 25, 25, 26, 26, 26, 26, 26, 26, 26, 27, 27, 27, 27, 27, 27, 28, 28, 28, 28, 28, 28, 29, 29, 29, 29, 29, 30, 30, 30, 30, 31, 31, 31, 32, 32, 33, 33, 34, 36, 36, 36, 36, 37, 37, 37, 37, 37, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 40, 40, 40, 40, 40, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 44, 44, 44, 44, 44, 44, 44, 44, 44, 45, 45, 45, 45, 45, 45, 45, 45, 46, 46, 46, 46, 46, 46, 46, 47, 47, 47, 47, 47, 47, 48, 48, 48, 48, 48, 49, 49, 49, 49, 50, 50, 50, 51, 51, 52, 55, 55, 55, 56, 56, 57, 60, 60, 60, 60, 61, 61, 61, 61, 62, 62, 62, 62, 62, 63, 63, 63, 63, 64, 64, 64, 65, 65, 65, 66, 66, 67, 68, 71, 71, 72, 75, 75, 75, 75, 75, 75, 75, 75, 75, 76, 76, 76, 76, 76, 76, 76, 76, 76, 77, 77, 77, 77, 77, 77, 77, 78, 78, 78, 78, 78, 78, 78, 79, 79, 79, 79, 79, 80, 80, 80, 80, 80, 81, 81, 81, 81, 82, 82, 83, 83, 84, 95, 97, 103, 106, 107, 122, 127, 127, 128, 131, 133, 138, 151, 173, 177, 182, 185, 186, 195, 213, 216]
 [7, 15, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 25, 26, 27, 28, 29, 30, 31, 32, 33, 26, 27, 28, 29, 30, 31, 32, 33, 27, 28, 29, 30, 31, 32, 33, 28, 29, 30, 31, 32, 33, 29, 30, 31, 32, 33, 34, 30, 31, 32, 33, 34, 31, 32, 33, 34, 32, 33, 34, 33, 34, 34, 35, 35, 37, 38, 39, 40, 38, 39, 40, 41, 42, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 41, 42, 43, 44, 45, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 45, 46, 47, 48, 49, 50, 51, 52, 53, 46, 47, 48, 49, 50, 51, 52, 53, 47, 48, 49, 50, 51, 52, 53, 48, 49, 50, 51, 52, 53, 49, 50, 51, 52, 53, 50, 51, 52, 53, 51, 52, 53, 52, 53, 53, 56, 57, 58, 57, 58, 58, 61, 62, 63, 64, 62, 63, 64, 65, 63, 64, 65, 66, 67, 64, 65, 66, 67, 65, 66, 67, 66, 67, 68, 67, 68, 68, 69, 72, 73, 73, 76, 77, 78, 79, 80, 81, 82, 83, 84, 77, 78, 79, 80, 81, 82, 83, 84, 85, 78, 79, 80, 81, 82, 83, 84, 79, 80, 81, 82, 83, 84, 85, 80, 81, 82, 83, 84, 81, 82, 83, 84, 85, 82, 83, 84, 85, 83, 84, 84, 85, 85, 96, 98, 104, 107, 108, 123, 128, 129, 129, 132, 134, 139, 152, 174, 178, 183, 186, 187, 196, 214, 217]
 [14.564466984445176, 4.352174689134579, 3.5119155068638137, 4.047942322174208, 3.745011544296221, 8.044482725774754, 9.049076184185893, 9.722099807468977, 10.356646108211901, 9.814780143397625, 12.750503618529235, 21.47185851111458, 21.45446124915097, 21.13691847161818, 22.4415462863548, 1.7550754178342103, 6.309019172987989, 5.487833517124784, 6.62279131239562, 7.145870030523834, 7.95074856277304, 11.176575005595224, 12.59290108496186, 22.968811866108485, 22.879921517844792, 22.380437576574415, 24.006547134345038, 5.755203575300214, 4.07962703056664, 5.158457044579503, 5.770600817748728, 6.49188950562737, 9.809816598824339, 10.868347794235854, 21.53223944087657, 21.42146382775245, 20.871252403910354, 22.587655353165893, 8.687877567752734, 9.37100676338573, 10.142067149182294, 10.482569560355635, 6.331911760946024, 10.236800191884544, 17.791320577803674, 17.79280532609344, 17.53419895740635, 18.742713351872077, 1.1499276800475495, 1.690984153089007, 2.464163646452059, 10.320187278488797, 9.159613287078749, 21.197314509716858, 20.996047626647723, 20.22988648383059, 22.30307349871928, 0.7779473070549876, 1.3349493090620022, 10.29914884253498, 8.526041365852263, 20.79175247367747, 20.5673073804677, 19.748037175424436, 21.904579577477353, 0.9419325515126111, 10.984548093849199, 8.921710394344688, 21.294379962522246, 21.057255430453964, 20.20802358075237, 22.40990365219733, 10.765356451051739, 8.271863733475856, 20.733773838292617, 20.481001139284473, 19.597110604428504, 21.851523051181413, 5.5233832651630435, 11.807607417671292, 11.741344482042624, 11.342599182335631, 12.834074360450654, 21.993248794668713, 12.532645468875744, 12.254182207091478, 11.333206940909776, 13.650878005106584, 24.169554483189888, 0.4994373143832218, 1.7838494853159788, 1.1186030479427314, 11.954569246925539, 1.2959914534222483, 1.4540186917889764, 12.358725796460973, 2.6825427454334565, 13.578369859554762, 10.910297890031481, 24.865160529020073, 20.232657701027396, 8.40789734180555, 15.32892656128729, 21.83708149134102, 22.2779114666182, 6.981148797991562, 13.538911208323302, 17.709597926061626, 20.14169902376881, 22.366969282713995, 6.563486134040922, 15.177872841255445, 13.287838671109583, 15.511691989363861, 22.876944414047244, 19.97481370953791, 19.210909387504103, 24.827760302323476, 20.369846422678233, 22.72722902984256, 23.553323158140742, 24.29070021636499, 15.152967540034815, 6.925921450425239, 9.112020720307193, 22.224200783590426, 13.423687216573713, 13.057300895629975, 18.368355988239188, 14.654491273803327, 16.502152273348802, 17.447461057786434, 18.202325483708798, 20.303167939908022, 22.858840057335392, 23.598354481824174, 15.810660848261046, 17.054988165117084, 7.710045835079136, 22.931766525141448, 17.71357777795078, 2.2262398797036154, 21.237799992003065, 7.646715449877856, 6.188251417157093, 12.999162769912243, 8.186965334356605, 9.583222936690763, 10.571262655136302, 11.33107056927826, 13.378550623027419, 16.148466696827256, 17.10830391387746, 21.86534059824536, 5.915050791819848, 4.234118946465123, 11.26110748614774, 6.666053067586274, 7.467075966337428, 8.536431424630171, 9.298387095012714, 11.23011466618094, 13.930513714094454, 15.380507484867074, 6.679441751989045, 5.365473533323565, 9.567778535278242, 7.391598343224785, 8.764000885213386, 9.35361300700656, 9.926706298418065, 10.135990552063646, 16.18040728009471, 11.122462584836509, 2.9653835060189535, 3.534228565253937, 4.390847620390253, 5.147820161434951, 7.340817683770737, 11.05800364958234, 11.183532470723604, 13.638078254209852, 10.264444684787849, 11.42112011438216, 11.730224737473062, 11.02458202286328, 8.338061703018633, 18.04252023095544, 4.083046761648698, 3.9591885257877193, 4.5016900813963785, 7.132679665033209, 11.937048067603959, 8.964095460885215, 1.3762805776048477, 2.0376396201160856, 3.816045530042606, 7.917320155963676, 8.829648687967492, 0.7620428586915118, 3.2060153956944206, 8.09430319187231, 7.456373902746841, 2.6412786459064894, 7.807118651343744, 6.828241883552348, 5.473053189352807, 7.046660842582774, 11.755207525885531, 2.7126217143908042, 7.063223415202811, 3.7639983146171807, 4.350710632257677, 1.284481518125925, 3.4954496921591174, 2.75615043418299, 14.225773700699333, 17.193881419494602, 14.107082407475348, 11.778819166513799, 15.50669589528222, 13.703938627517353, 23.279455796960885, 7.10071123174655, 12.260288651534207, 11.735688062097985, 15.683046069451402, 20.578339492471176, 8.015456159591384, 9.735018662474637, 13.295973532100874, 13.481739395161283, 17.596932129266396, 20.876419236671833, 13.67518678081814, 3.9654163807104372, 16.723314969093238, 19.00185425172815, 17.548971461287245, 15.7550298682238, 19.029308536998837, 18.99840453246736, 0.8115524294052748, 16.107043118508724, 16.86609833084038, 15.220830640741516, 6.131175892314608, 14.457765832231027, 10.575480679301183, 11.2092516974519, 11.778993627560487, 13.804414003248901, 13.405388123575046, 19.03499977428179, 15.67296525787565, 4.454152046976631, 22.078053713497326, 11.272474292219048, 12.494844551898893, 24.249785510496114, 11.634287838948811, 11.513893949468695, 17.634375461792917, 13.179923488927427, 6.457840340104274, 7.132504902540787, 7.1088840438773175, 9.072957963589607, 9.117127374192139, 15.373567885199959, 19.276136628846885, 7.4532045499472135, 8.557511734746862, 21.045076414069257, 7.381802183687686, 7.404819470448411, 17.322284787187552, 12.348830435538346, 11.767527556452215, 3.303735912068846, 13.80134452806414, 19.99170084248173, 1.2832042846173404, 13.738331988204616, 2.196299837618426, 8.256963400692594, 23.001820636429674, 12.900208276570986, 2.072656322903966, 8.378083577237634, 23.533899746325503, 14.783861587738501, 20.6382250963135, 6.307717256936936, 21.526612715309778, 15.659107622721846, 21.581335482043777, 21.01434695760001, 1.6676529302466572, 19.930214820183004, 17.186259059084197, 22.37790018229203, 1.536300100151426, 23.653987596899725, 22.118858754550942, 7.235764008897411, 5.014677098076864, 1.7272867504004672, 21.71641590841402, 24.681270016698647, 12.028230524620557, 9.41365283084269, 24.07829764607354, 23.84771435007522, 2.180264091775644, 10.397545648681449, 20.115670271210394]

Points closest to each other by latitiude
 [9, 9, 9, 10, 10, 11, 13, 13, 17, 21, 21, 22, 25, 25, 25, 26, 26, 26, 27, 30, 31, 33, 35, 35, 36, 38, 41, 41, 42, 44, 44, 45, 48, 48, 48, 49, 49, 49, 49, 49, 49, 49, 50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 51, 51, 51, 51, 51, 51, 51, 51, 51, 52, 52, 52, 52, 52, 52, 52, 52, 52, 52, 53, 53, 53, 54, 54, 54, 54, 54, 54, 54, 54, 54, 54, 55, 55, 55, 55, 55, 55, 55, 55, 55, 56, 56, 56, 56, 57, 57, 57, 57, 57, 57, 57, 58, 58, 58, 58, 58, 58, 59, 59, 59, 59, 59, 60, 60, 60, 60, 61, 61, 61, 62, 62, 68, 74, 76, 80, 83, 83, 83, 83, 83, 83, 83, 83, 83, 83, 84, 84, 84, 84, 84, 84, 84, 84, 84, 85, 85, 85, 85, 85, 85, 85, 85, 86, 86, 86, 86, 86, 86, 86, 87, 87, 87, 87, 87, 87, 88, 88, 88, 88, 88, 89, 89, 89, 89, 90, 90, 90, 91, 91, 92, 103, 110, 123, 130, 132, 136, 141, 143, 145, 151, 158, 159, 184, 205, 207]
 [10, 11, 12, 11, 12, 12, 14, 15, 18, 22, 23, 23, 26, 27, 28, 27, 28, 29, 28, 31, 32, 34, 36, 37, 37, 39, 42, 43, 43, 45, 46, 46, 49, 50, 51, 50, 51, 52, 53, 54, 55, 56, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 52, 53, 54, 55, 56, 57, 58, 59, 60, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 54, 55, 56, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 56, 57, 58, 59, 60, 61, 62, 63, 64, 57, 58, 59, 60, 58, 59, 60, 61, 62, 63, 64, 59, 60, 61, 62, 63, 64, 60, 61, 62, 63, 64, 61, 62, 63, 64, 62, 63, 64, 63, 64, 69, 75, 77, 81, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 85, 86, 87, 88, 89, 90, 91, 92, 93, 86, 87, 88, 89, 90, 91, 92, 93, 87, 88, 89, 90, 91, 92, 93, 88, 89, 90, 91, 92, 93, 89, 90, 91, 92, 93, 90, 91, 92, 93, 91, 92, 93, 92, 93, 93, 104, 111, 124, 131, 133, 137, 142, 144, 146, 152, 159, 160, 185, 206, 208]
 [4.222305488423195, 5.720282838715795, 19.930214820183004, 1.6676529302466572, 18.662177692558778, 17.588738984607183, 19.11461077204393, 23.292904864545267, 13.279499186506877, 24.087492478930745, 21.2620093379964, 3.303735912068846, 6.131175892314608, 7.1088840438773175, 7.132504902540787, 11.778993627560487, 11.2092516974519, 23.505269248650286, 1.2832042846173404, 15.165088997467908, 15.154742360478798, 3.9654163807104372, 7.404819470448411, 11.513893949468695, 4.454152046976631, 7.10071123174655, 22.16233252587858, 0.8115524294052748, 22.255729182162558, 8.63673356328912, 18.76374380849089, 10.135990552063646, 13.703938627517353, 16.050405590376915, 17.02302861286665, 2.3937609486460967, 3.5511280121355226, 13.083333175989273, 2.75615043418299, 16.898731772079973, 24.273605238876645, 5.358737000928296, 1.284481518125925, 10.690167177416194, 3.1446064616934195, 14.505302710085818, 21.886953916622154, 3.7639983146171807, 24.05702621235762, 13.719111034247776, 13.008443593034679, 18.01898607152782, 9.640235173737079, 3.406620556415932, 13.44306382269619, 20.866716576014806, 2.7126217143908042, 23.018495863255552, 12.601345026255455, 11.87814836686546, 16.93594510092166, 12.703806648344543, 3.816045530042606, 11.23011466618094, 9.529380794860515, 13.378550623027419, 3.2060153956944206, 2.6412786459064894, 7.340817683770737, 20.303167939908022, 7.132679665033209, 16.440313435669907, 23.90571109544786, 3.5720886689592706, 7.467075966337428, 13.14747195306894, 9.583222936690763, 1.3762805776048477, 2.0376396201160856, 3.534228565253937, 16.502152273348802, 4.083046761648698, 22.72722902984256, 8.829648687967492, 20.60332964032802, 2.2262398797036154, 8.536431424630171, 9.298387095012714, 4.234118946465123, 9.112020720307193, 6.666053067586274, 15.511691989363861, 15.380507484867074, 22.66803397001202, 12.097438911827219, 11.339039582316547, 16.48680615946481, 10.571262655136302, 11.33107056927826, 6.188251417157093, 6.925921450425239, 8.186965334356605, 13.287838671109583, 17.10830391387746, 0.7620428586915118, 4.390847620390253, 17.447461057786434, 3.9591885257877193, 23.553323158140742, 7.456373902746841, 5.147820161434951, 18.202325483708798, 4.5016900813963785, 24.29070021636499, 6.828241883552348, 13.057300895629975, 2.9653835060189535, 19.210909387504103, 11.183532470723604, 14.654491273803327, 6.563486134040922, 23.598354481824174, 20.369846422678233, 8.964095460885215, 22.2779114666182, 20.232657701027396, 19.944749004866203, 0.4994373143832218, 11.342599182335631, 17.53419895740635, 21.13691847161818, 11.333206940909776, 22.380437576574415, 20.871252403910354, 20.22988648383059, 19.748037175424436, 20.20802358075237, 19.597110604428504, 6.331911760946024, 9.814780143397625, 5.5233832651630435, 11.176575005595224, 9.809816598824339, 10.320187278488797, 10.29914884253498, 10.984548093849199, 10.765356451051739, 3.745011544296221, 10.236800191884544, 6.309019172987989, 5.755203575300214, 8.687877567752734, 9.37100676338573, 10.142067149182294, 10.482569560355635, 12.750503618529235, 3.5119155068638137, 4.047942322174208, 8.044482725774754, 9.049076184185893, 9.722099807468977, 10.356646108211901, 12.59290108496186, 10.868347794235854, 9.159613287078749, 8.526041365852263, 8.921710394344688, 8.271863733475856, 1.7550754178342103, 5.487833517124784, 6.62279131239562, 7.145870030523834, 7.95074856277304, 4.07962703056664, 5.158457044579503, 5.770600817748728, 6.49188950562737, 1.1499276800475495, 1.690984153089007, 2.464163646452059, 0.7779473070549876, 1.3349493090620022, 0.9419325515126111, 7.235764008897411, 4.352174689134579, 9.41365283084269, 3.5440342000367173, 1.536300100151426, 5.014677098076864, 14.867985730132276, 1.7272867504004672, 14.564466984445176, 12.028230524620557, 24.07829764607354, 23.84771435007522, 10.397545648681449, 19.779402162061125, 2.180264091775644]

In [ ]:
# Create function to select, merge and add the values from analyzing Longitude and Latitude
def newDF(OrderDF,x,y,d):
    """DF is Long/LatitudeOrderDF
       x = long/latpoint_a
       y = long/latpoint_b
       d = long/latdistance_ab"""
    # select rows that index is in list 'point_a', 'point_b'
    A = OrderDF.loc[x,['DateTime','Hour','Minute','Second','microSecond','Latitude','Longitude','Height',
                             'TargetID', 'SelectedHeading', 'TargetAddress']]
    B = OrderDF.loc[y,['DateTime','Hour','Minute','Second','microSecond','Latitude','Longitude','Height',
                             'TargetID', 'SelectedHeading', 'TargetAddress']]
    # Join 2 tables by the "TargetID" of point a (for the uniquness)
    OrderResult = pd.merge(A.reset_index(drop=True),B.reset_index(drop=True),left_index=True, right_index=True)
    # add distance column
    OrderResult['Distance'] = d
    return OrderResult

In [ ]:
# Apply function to select and merge data frame
LongOrderResult = newDF(LongitudeOrderDF,longpoint_a, longpoint_b,longdistance_ab)
LatOrderResult = newDF(LatitudeOrderDF,latpoint_a, latpoint_b,latdistance_ab)

In [ ]:
# Concatenate results from order by longitude and latitude
Resultsdf = pd.concat([LongOrderResult,LatOrderResult]).reset_index(drop=True)

# Show result
Resultsdf

,DateTime_x,Hour_x,Minute_x,Second_x,microSecond_x,Latitude_x,Longitude_x,Height_x,TargetID_x,SelectedHeading_x,...,Minute_y,Second_y,microSecond_y,Latitude_y,Longitude_y,Height_y,TargetID_y,SelectedHeading_y,TargetAddress_y,Distance
0,2021-12-24 23:59:02.734,23,59,2,734000,28.675294,-169.513442,37525.0,KAL054,296.015625,...,59,2,508000,28.527740,-169.294140,32325.0,JAL783,296.718750,86220C,14.564467
1,2021-12-24 23:59:02.086,23,59,2,86000,24.062439,-163.081970,39550.0,HAL459,NaN,...,59,2,773000,24.034607,-163.008677,41450.0,JAL8781,295.312500,86D996,4.352175
2,2021-12-24 23:59:10.336,23,59,10,336000,22.101746,-159.699656,3675.0,N11QP,NaN,...,59,1,719000,22.160156,-159.696317,2450.0,N11QN,NaN,A02B45,3.511916
3,2021-12-24 23:59:10.336,23,59,10,336000,22.101746,-159.699656,3675.0,N11QP,NaN,...,59,0,234000,22.160913,-159.664764,1800.0,N11QC,NaN,A02B3B,4.047942
4,2021-12-24 23:59:10.336,23,59,10,336000,22.101746,-159.699656,3675.0,N11QP,NaN,...,59,23,938000,22.067064,-159.643707,2600.0,N11QW,NaN,A02B4D,3.745012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
510,2021-12-24 23:59:03.836,23,59,3,836000,30.302062,-143.224915,38825.0,UAL384,229.218750,...,59,4,477000,30.508942,-142.826574,36875.0,HAL55,NaN,A1A546,24.078298
511,2021-12-24 23:59:04.477,23,59,4,477000,30.508942,-142.826574,36875.0,HAL55,NaN,...,59,4,117000,30.668381,-142.403977,37825.0,SWA2040,231.328125,AB5BB1,23.847714
512,2021-12-24 23:59:04.875,23,59,4,875000,34.055336,-134.166470,32475.0,DAL330,258.046875,...,59,1,789000,34.152816,-133.993607,36550.0,NCR149,234.843750,A9C52E,10.397546
513,2021-12-24 23:59:04.000,23,59,4,0,43.081100,-129.961108,32600.0,DAL565,213.750000,...,59,2,375000,43.141821,-130.404641,31700.0,ANA9643,281.953125,869210,19.779402
514,2021-12-24 23:59:02.570,23,59,2,570000,43.966690,-139.109589,37500.0,JAL6721,267.890625,...,59,2,695000,43.968775,-139.159960,32500.0,SIA11,269.296875,76CEE8,2.180264

In [ ]:
# Delete duplicate pairs of TargetID x and y
ResultsDF = Resultsdf.drop_duplicates(subset = ['TargetID_x', 'TargetID_y','Distance'],keep = 'last').reset_index(drop = True)
ResultsDF

,DateTime_x,Hour_x,Minute_x,Second_x,microSecond_x,Latitude_x,Longitude_x,Height_x,TargetID_x,SelectedHeading_x,...,Minute_y,Second_y,microSecond_y,Latitude_y,Longitude_y,Height_y,TargetID_y,SelectedHeading_y,TargetAddress_y,Distance
0,2021-12-24 23:59:02.734,23,59,2,734000,28.675294,-169.513442,37525.0,KAL054,296.015625,...,59,2,508000,28.527740,-169.294140,32325.0,JAL783,296.718750,86220C,14.564467
1,2021-12-24 23:59:02.086,23,59,2,86000,24.062439,-163.081970,39550.0,HAL459,NaN,...,59,2,773000,24.034607,-163.008677,41450.0,JAL8781,295.312500,86D996,4.352175
2,2021-12-24 23:59:10.336,23,59,10,336000,22.101746,-159.699656,3675.0,N11QP,NaN,...,59,23,938000,22.067064,-159.643707,2600.0,N11QW,NaN,A02B4D,3.745012
3,2021-12-24 23:59:10.336,23,59,10,336000,22.101746,-159.699656,3675.0,N11QP,NaN,...,59,14,711000,22.054774,-159.530691,3375.0,N907AM,NaN,AC8939,9.814780
4,2021-12-24 23:59:10.336,23,59,10,336000,22.101746,-159.699656,3675.0,N11QP,NaN,...,59,1,234000,21.955398,-159.347651,750.0,N633JH,NaN,A849B1,21.471859
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
442,2021-12-24 23:59:03.836,23,59,3,836000,30.302062,-143.224915,38825.0,UAL384,229.218750,...,59,4,477000,30.508942,-142.826574,36875.0,HAL55,NaN,A1A546,24.078298
443,2021-12-24 23:59:04.477,23,59,4,477000,30.508942,-142.826574,36875.0,HAL55,NaN,...,59,4,117000,30.668381,-142.403977,37825.0,SWA2040,231.328125,AB5BB1,23.847714
444,2021-12-24 23:59:04.875,23,59,4,875000,34.055336,-134.166470,32475.0,DAL330,258.046875,...,59,1,789000,34.152816,-133.993607,36550.0,NCR149,234.843750,A9C52E,10.397546
445,2021-12-24 23:59:04.000,23,59,4,0,43.081100,-129.961108,32600.0,DAL565,213.750000,...,59,2,375000,43.141821,-130.404641,31700.0,ANA9643,281.953125,869210,19.779402
446,2021-12-24 23:59:02.570,23,59,2,570000,43.966690,-139.109589,37500.0,JAL6721,267.890625,...,59,2,695000,43.968775,-139.159960,32500.0,SIA11,269.296875,76CEE8,2.180264

In [ ]:
heightDifference = []
potentialLoss = []
potentialLoss1000 = []
potentialLoss400 = []

counter = 0

while counter < len(ResultsDF):
  difference = abs((ResultsDF['Height_x'][counter]) - (ResultsDF['Height_y'][counter]))
  heightDifference.append(difference)

  if difference <= 1000:
    potentialLoss.append('True')
  else:
    potentialLoss.append('False')

  counter = counter + 1

print(heightDifference)
print(potentialLoss)

[5200.0, 1900.0, 1075.0, 300.0, 2925.0, 2125.0, 3525.0, 3050.0, 150.0, 925.0, 875.0, 1700.0, 900.0, 2300.0, 1825.0, 800.0, 1575.0, 225.0, 1050.0, 250.0, 1650.0, 1175.0, 775.0, 1850.0, 1050.0, 2450.0, 1975.0, 2400.0, 600.0, 225.0, 575.0, 825.0, 350.0, 2200.0, 400.0, 425.0, 375.0, 1025.0, 550.0, 1450.0, 350.0, 1175.0, 375.0, 1775.0, 1300.0, 1650.0, 150.0, 975.0, 175.0, 1575.0, 1100.0, 2625.0, 1825.0, 3225.0, 2750.0, 800.0, 825.0, 25.0, 1425.0, 950.0, 2600.0, 600.0, 125.0, 3425.0, 1400.0, 925.0, 2625.0, 475.0, 4025.0, 3550.0, 6675.0, 2825.0, 350.0, 2450.0, 2475.0, 375.0, 6875.0, 1275.0, 4325.0, 2100.0, 4400.0, 3750.0, 6800.0, 4975.0, 4775.0, 5800.0, 2775.0, 6150.0, 6800.0, 6800.0, 6525.0, 6500.0, 1650.0, 4700.0, 2875.0, 2675.0, 3700.0, 675.0, 4700.0, 4700.0, 4425.0, 4350.0, 650.0, 8150.0, 11200.0, 9375.0, 9175.0, 10200.0, 3050.0, 1225.0, 1025.0, 975.0, 3050.0, 2700.0, 2300.0, 1825.0, 2025.0, 4025.0, 0.0, 350.0, 5350.0, 1025.0, 2000.0, 1375.0, 2025.0, 2025.0, 1750.0, 1675.0, 3325.0, 275.0, 3025.0, 1000.0, 1000.0, 725.0, 650.0, 4350.0, 3375.0, 4025.0, 4025.0, 3750.0, 3675.0, 1325.0, 1725.0, 650.0, 650.0, 375.0, 300.0, 4700.0, 350.0, 5350.0, 350.0, 5350.0, 75.0, 5075.0, 5000.0, 1950.0, 3050.0, 7550.0, 975.0, 7425.0, 8525.0, 125.0, 8400.0, 3825.0, 13350.0, 2100.0, 100.0, 9525.0, 1725.0, 3725.0, 375.0, 13250.0, 9150.0, 7125.0, 12125.0, 2000.0, 2100.0, 4125.0, 875.0, 4100.0, 6125.0, 1125.0, 2025.0, 2975.0, 1600.0, 5000.0, 425.0, 4575.0, 1450.0, 575.0, 750.0, 925.0, 1450.0, 850.0, 2000.0, 1500.0, 1525.0, 1175.0, 2375.0, 75.0, 2925.0, 175.0, 1200.0, 2425.0, 600.0, 2100.0, 9900.0, 2300.0, 550.0, 50.0, 2975.0, 275.0, 2850.0, 100.0, 1125.0, 2350.0, 675.0, 2025.0, 9825.0, 2750.0, 1725.0, 500.0, 3525.0, 825.0, 1025.0, 2250.0, 775.0, 1925.0, 9725.0, 1225.0, 1800.0, 900.0, 8700.0, 3025.0, 325.0, 2700.0, 10500.0, 7800.0, 7675.0, 5075.0, 575.0, 775.0, 7075.0, 2000.0, 5950.0, 6950.0, 3050.0, 5000.0, 8875.0, 2025.0, 1450.0, 1575.0, 575.0, 3600.0, 3025.0, 2450.0, 5725.0, 425.0, 6150.0, 5650.0, 500.0, 1450.0, 1175.0, 2200.0, 275.0, 750.0, 6200.0, 1025.0, 1225.0, 1125.0, 2025.0, 2025.0, 2100.0, 75.0, 11250.0, 1450.0, 175.0, 1275.0, 4700.0, 8025.0, 3325.0, 3725.0, 425.0, 550.0, 4150.0, 4275.0, 5450.0, 3825.0, 5800.0, 5800.0, 3275.0, 125.0, 1300.0, 325.0, 1650.0, 1650.0, 7425.0, 1400.0, 1650.0, 1375.0, 650.0, 1175.0, 450.0, 1525.0, 1525.0, 7550.0, 1525.0, 1525.0, 1250.0, 525.0, 1625.0, 350.0, 350.0, 8725.0, 2700.0, 350.0, 75.0, 650.0, 4350.0, 300.0, 1975.0, 1975.0, 7100.0, 0.0, 9075.0, 3050.0, 0.0, 275.0, 1000.0, 4700.0, 650.0, 6800.0, 2300.0, 9075.0, 3050.0, 0.0, 275.0, 1000.0, 4700.0, 650.0, 6800.0, 2300.0, 6025.0, 9075.0, 8800.0, 8075.0, 3050.0, 2775.0, 2050.0, 1650.0, 2400.0, 3750.0, 750.0, 275.0, 1000.0, 4700.0, 650.0, 6800.0, 2300.0, 725.0, 4425.0, 375.0, 6525.0, 2025.0, 3700.0, 350.0, 5800.0, 1300.0, 4050.0, 2100.0, 2400.0, 6150.0, 1650.0, 4050.0, 3125.0, 5075.0, 800.0, 3225.0, 2450.0, 3525.0, 1425.0, 2300.0, 1650.0, 825.0, 1025.0, 1775.0, 1575.0, 775.0, 300.0, 1800.0, 925.0, 1575.0, 2400.0, 2200.0, 1450.0, 1650.0, 1075.0, 1025.0, 150.0, 800.0, 1625.0, 1425.0, 675.0, 875.0, 2100.0, 1225.0, 1875.0, 2700.0, 2500.0, 1750.0, 1950.0, 875.0, 225.0, 600.0, 400.0, 350.0, 150.0, 650.0, 1475.0, 1275.0, 525.0, 725.0, 825.0, 625.0, 125.0, 75.0, 200.0, 950.0, 750.0, 750.0, 550.0, 200.0, 4025.0, 1900.0, 975.0, 10875.0, 7950.0, 1025.0, 9975.0, 1925.0, 5200.0, 2925.0, 1950.0, 950.0, 4075.0, 900.0, 5000.0]
['False', 'False', 'False', 'True', 'False', 'False', 'False', 'False', 'True', 'True', 'True', 'False', 'True', 'False', 'False', 'True', 'False', 'True', 'False', 'True', 'False', 'False', 'True', 'False', 'False', 'False', 'False', 'False', 'True', 'True', 'True', 'True', 'True', 'False', 'True', 'True', 'True', 'False', 'True', 'False', 'True', 'False', 'True', 'False', 'False', 'False', 'True', 'True', 'True', 'False', 'False', 'False', 'False', 'False', 'False', 'True', 'True', 'True', 'False', 'True', 'False', 'True', 'True', 'False', 'False', 'True', 'False', 'True', 'False', 'False', 'False', 'False', 'True', 'False', 'False', 'True', 'False', 'False', 'False', 'False', 'False', 'False', 'False', 'False', 'False', 'False', 'False', 'False', 'False', 'False', 'False', 'False', 'False', 'False', 'False', 'False', 'False', 'True', 'False', 'False', 'False', 'False', 'True', 'False', 'False', 'False', 'False', 'False', 'False', 'False', 'False', 'True', 'False', 'False', 'False', 'False', 'False', 'False', 'True', 'True', 'False', 'False', 'False', 'False', 'False', 'False', 'False', 'False', 'False', 'True', 'False', 'True', 'True', 'True', 'True', 'False', 'False', 'False', 'False', 'False', 'False', 'False', 'False', 'True', 'True', 'True', 'True', 'False', 'True', 'False', 'True', 'False', 'True', 'False', 'False', 'False', 'False', 'False', 'True', 'False', 'False', 'True', 'False', 'False', 'False', 'False', 'True', 'False', 'False', 'False', 'True', 'False', 'False', 'False', 'False', 'False', 'False', 'False', 'True', 'False', 'False', 'False', 'False', 'False', 'False', 'False', 'True', 'False', 'False', 'True', 'True', 'True', 'False', 'True', 'False', 'False', 'False', 'False', 'False', 'True', 'False', 'True', 'False', 'False', 'True', 'False', 'False', 'False', 'True', 'True', 'False', 'True', 'False', 'True', 'False', 'False', 'True', 'False', 'False', 'False', 'False', 'True', 'False', 'True', 'False', 'False', 'True', 'False', 'False', 'False', 'False', 'True', 'False', 'False', 'True', 'False', 'False', 'False', 'False', 'False', 'True', 'True', 'False', 'False', 'False', 'False', 'False', 'False', 'False', 'False', 'False', 'False', 'True', 'False', 'False', 'False', 'False', 'True', 'False', 'False', 'True', 'False', 'False', 'False', 'True', 'True', 'False', 'False', 'False', 'False', 'False', 'False', 'False', 'True', 'False', 'False', 'True', 'False', 'False', 'False', 'False', 'False', 'True', 'True', 'False', 'False', 'False', 'False', 'False', 'False', 'False', 'True', 'False', 'True', 'False', 'False', 'False', 'False', 'False', 'False', 'True', 'False', 'True', 'False', 'False', 'False', 'False', 'False', 'False', 'True', 'False', 'True', 'True', 'False', 'False', 'True', 'True', 'True', 'False', 'True', 'False', 'False', 'False', 'True', 'False', 'False', 'True', 'True', 'True', 'False', 'True', 'False', 'False', 'False', 'False', 'True', 'True', 'True', 'False', 'True', 'False', 'False', 'False', 'False', 'False', 'False', 'False', 'False', 'False', 'False', 'False', 'False', 'True', 'True', 'True', 'False', 'True', 'False', 'False', 'True', 'False', 'True', 'False', 'False', 'False', 'True', 'False', 'False', 'False', 'False', 'False', 'False', 'False', 'False', 'False', 'False', 'True', 'False', 'False', 'False', 'False', 'False', 'False', 'True', 'False', 'False', 'False', 'True', 'True', 'False', 'True', 'False', 'False', 'False', 'False', 'False', 'False', 'False', 'True', 'True', 'False', 'False', 'True', 'True', 'False', 'False', 'False', 'False', 'False', 'False', 'False', 'True', 'True', 'True', 'True', 'True', 'True', 'True', 'False', 'False', 'True', 'True', 'True', 'True', 'True', 'True', 'True', 'True', 'True', 'True', 'True', 'True', 'False', 'False', 'True', 'False', 'False', 'False', 'False', 'False', 'False', 'False', 'False', 'True', 'False', 'True', 'False']

In [ ]:
ResultsDF['HeightDifference'] = heightDifference
ResultsDF['PotentialLoss'] = potentialLoss

print(ResultsDF)

                  DateTime_x  Hour_x  Minute_x  Second_x  microSecond_x  \
0    2021-12-24 23:59:02.734      23        59         2         734000
1    2021-12-24 23:59:02.086      23        59         2          86000
2    2021-12-24 23:59:10.336      23        59        10         336000
3    2021-12-24 23:59:10.336      23        59        10         336000
4    2021-12-24 23:59:10.336      23        59        10         336000
..                       ...     ...       ...       ...            ...
442  2021-12-24 23:59:03.836      23        59         3         836000
443  2021-12-24 23:59:04.477      23        59         4         477000
444  2021-12-24 23:59:04.875      23        59         4         875000
445  2021-12-24 23:59:04.000      23        59         4              0
446  2021-12-24 23:59:02.570      23        59         2         570000

     Latitude_x  Longitude_x  Height_x TargetID_x  SelectedHeading_x  ...  \
0     28.675294  -169.513442   37525.0     KAL054         296.015625  ...
1     24.062439  -163.081970   39550.0     HAL459                NaN  ...
2     22.101746  -159.699656    3675.0      N11QP                NaN  ...
3     22.101746  -159.699656    3675.0      N11QP                NaN  ...
4     22.101746  -159.699656    3675.0      N11QP                NaN  ...
..          ...          ...       ...        ...                ...  ...
442   30.302062  -143.224915   38825.0     UAL384         229.218750  ...
443   30.508942  -142.826574   36875.0      HAL55                NaN  ...
444   34.055336  -134.166470   32475.0     DAL330         258.046875  ...
445   43.081100  -129.961108   32600.0     DAL565         213.750000  ...
446   43.966690  -139.109589   37500.0    JAL6721         267.890625  ...

    microSecond_y Latitude_y  Longitude_y  Height_y  TargetID_y  \
0          508000  28.527740  -169.294140   32325.0      JAL783
1          773000  24.034607  -163.008677   41450.0     JAL8781
2          938000  22.067064  -159.643707    2600.0       N11QW
3          711000  22.054774  -159.530691    3375.0      N907AM
4          234000  21.955398  -159.347651     750.0      N633JH
..            ...        ...          ...       ...         ...
442        477000  30.508942  -142.826574   36875.0       HAL55
443        117000  30.668381  -142.403977   37825.0     SWA2040
444        789000  34.152816  -133.993607   36550.0      NCR149
445        375000  43.141821  -130.404641   31700.0     ANA9643
446        695000  43.968775  -139.159960   32500.0       SIA11

     SelectedHeading_y  TargetAddress_y   Distance  HeightDifference  \
0           296.718750           86220C  14.564467            5200.0
1           295.312500           86D996   4.352175            1900.0
2                  NaN           A02B4D   3.745012            1075.0
3                  NaN           AC8939   9.814780             300.0
4                  NaN           A849B1  21.471859            2925.0
..                 ...              ...        ...               ...
442                NaN           A1A546  24.078298            1950.0
443         231.328125           AB5BB1  23.847714             950.0
444         234.843750           A9C52E  10.397546            4075.0
445         281.953125           869210  19.779402             900.0
446         269.296875           76CEE8   2.180264            5000.0

    PotentialLoss
0           False
1           False
2           False
3            True
4           False
..            ...
442         False
443          True
444         False
445          True
446         False

[447 rows x 25 columns]

In [ ]:
ResultsDF.to_csv('results2359.csv', encoding = 'utf-8-sig') 
files.download('results2359.csv')

In [ ]:
#Get the first entry for this minute of time
sql6 = "SELECT * FROM Resultsdf WHERE PotentialLoss = 'True' "

#Run query and store results
LossCandidates = ps.sqldf(sql6, locals())

PandaSQLException: ignored

In [ ]:
print(LossCandidates)

    remove1 DateTime1  Hour1  Minute1  Second1  microSecond1  Latitude1  \
0      1922   59:01.7     23       59        1        719000  22.160156
1      2262   59:14.4     23       59       14        414000  22.208908
2      2187   59:02.5     23       59        2        523000  22.216095
3      2123   59:02.9     23       59        2        898000  22.228880
4      2249   59:01.2     23       59        1        234000  21.955398
5      2388   59:08.6     23       59        8        648000  21.984558
6      2900   59:02.6     23       59        2        586000  21.306839
7      2596   59:23.1     23       59       23        148000  21.322042
8      2210   59:02.1     23       59        2         78000  21.323066
9      2410   59:08.7     23       59        8        688000  21.155777
10     2223   59:01.8     23       59        1        773000  19.419499
11     1944   59:04.6     23       59        4        633000  19.396179
12     1911   59:03.1     23       59        3        117000  21.259103
13     2596   59:23.1     23       59       23        148000  21.322042
14     2249   59:01.2     23       59        1        234000  21.955398
15     1922   59:01.7     23       59        1        719000  22.160156
16     2262   59:14.4     23       59       14        414000  22.208908
17     2187   59:02.5     23       59        2        523000  22.216095
18     2123   59:02.9     23       59        2        898000  22.228880

    Longitude1  Height1 TargetID1  ...  microSecond2  Latitude2  Longitude2  \
0  -159.696317   2450.0     N11QN  ...        234000  22.160913 -159.664764
1  -159.612821    975.0    N635SB  ...        523000  22.216095 -159.593645
2  -159.593645   1175.0     N451H  ...        898000  22.228880 -159.591370
3  -159.591370   1925.0     N251H  ...         16000  22.229438 -159.574433
4  -159.347651    750.0    N633JH  ...        711000  21.963135 -159.344355
5  -159.341509    150.0    N842JH  ...        258000  21.940163 -159.336090
6  -157.936557     75.0    SWA436  ...        148000  21.322042 -157.918142
7  -157.918142     75.0   STT2040  ...         78000  21.323066 -157.904561
8  -157.904561    350.0    N506CD  ...        250000  21.293152 -157.869940
9  -156.773155   1825.0    N873SH  ...        602000  21.169189 -156.771357
10 -155.292247   6425.0    N508PH  ...        633000  19.396179 -155.276250
11 -155.276250   7000.0     N11QR  ...        773000  19.419499 -155.292247
12 -157.682393   1725.0     N11QL  ...         55000  21.274017 -157.698853
13 -157.918142     75.0   STT2040  ...         78000  21.323066 -157.904561
14 -159.347651    750.0    N633JH  ...        711000  21.963135 -159.344355
15 -159.696317   2450.0     N11QN  ...        234000  22.160913 -159.664764
16 -159.612821    975.0    N635SB  ...        523000  22.216095 -159.593645
17 -159.593645   1175.0     N451H  ...        898000  22.228880 -159.591370
18 -159.591370   1925.0     N251H  ...         16000  22.229438 -159.574433

    Height2 TargetID2  SelectedHeading2  TargetAddress2  Distance  \
0    1800.0     N11QC               NaN          A02B3B  3.255579
1    1175.0     N451H               NaN          A57682  2.131350
2    1925.0     N251H               NaN          A25BE4  1.434996
3    1725.0    N963SA               NaN          AD68DC  1.747244
4    1550.0    N140WS               NaN          A0A4B5  0.921810
5     625.0    SWA447         355.78125          AB5EB2  4.947650
6      75.0   STT2040          40.78125          A4A533  2.546334
7     350.0    N506CD               NaN          A65070  1.413461
8     425.0    N805NV               NaN          AAF5B0  4.886133
9    2000.0    N752CH               NaN          AA21B1  1.496699
10   7000.0     N11QR               NaN          A02B48  3.080110
11   6425.0    N508PH               NaN          A658F5  3.080110
12   1600.0    N357MH               NaN          A3FFE9  2.375846
13    350.0    N506CD               NaN          A65070  1.413461
14   1550.0    N140WS               NaN          A0A4B5  0.921810
15   1800.0     N11QC               NaN          A02B3B  3.255579
16   1175.0     N451H               NaN          A57682  2.131350
17   1925.0     N251H               NaN          A25BE4  1.434996
18   1725.0    N963SA               NaN          AD68DC  1.747244

    HeightDifference  PotentialLoss
0              650.0           True
1              200.0           True
2              750.0           True
3              200.0           True
4              800.0           True
5              475.0           True
6                0.0           True
7              275.0           True
8               75.0           True
9              175.0           True
10             575.0           True
11             575.0           True
12             125.0           True
13             275.0           True
14             800.0           True
15             650.0           True
16             200.0           True
17             750.0           True
18             200.0           True

[19 rows x 28 columns]